export(alpha.fun,
b.com.est,
com.ci,
defineAxis,
elev.com,
elev.test,
fitted.sma,
huber.M,
line.cis,
lr.b.com,
ma,
makeLogMinor,
meas.est,
multcompmatrix,
nicePlot,
seqLog,
shift.com,
slope.com,
slope.test,
sma)
S3method(summary, sma)
S3method(plot, sma)
S3method(print, sma)
S3method(residuals, sma)
S3method(logLik, sma)
S3method(coef, sma)
S3method(predict, sma)
S3method(fitted, sma)
S3method(confint, sma)
importFrom("grDevices", "col2rgb", "rgb")
importFrom("graphics", "box", "curve", "mtext", "par", "plot",
             "points")
importFrom("stats", "coef", "cor", "cor.test", "cov", "fitted",
             "model.frame", "na.omit", "pchisq", "pf", "pt", "qchisq",
             "qf", "qqline", "qqnorm", "qt", "uniroot", "var")
importFrom("utils", "combn", "str")

  