export(alpha.fun,
b.com.est,
coef.sma,
com.ci,
defineAxis,
elev.com,
elev.test,
fitted.sma,
huber.M,
line.cis,
lr.b.com,
ma,
makeLogMinor,
meas.est,
multcompmatrix,
nicePlot,
plot.sma,
print.sma,
residuals.sma,
seqLog,
shift.com,
slope.com,
slope.test,
sma,
summary.sma)